/* Font setup. */
@font-face {
  font-family: '8-BIT WONDER';
  src: url('file://fonts/8bit_wonder/8-BIT-WONDER.ttf') format('truetype');
     }

@font-face {
  font-family: 'codeman38_press-start-2p';
  src: url('file://fonts/codeman38_press-start-2p/PressStart2p.ttf') format('truetype');
}

@font-face {
  font-family: 'FreePixel';
  src: url('file://fonts/FreePixel.ttf') format('truetype');
}

html {
  box-sizing: border-box;
  color: #303030;
  /*font-family: 'codeman38_press-start-2p', monospace;*/
}

/*text formatting */

body {
  font-family: 'codeman38_press-start-2p', monospace;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

header {
  font-family: "8-BIT WONDER", monospace;
  text-align: center;
  background-color: #d4ed82;
  margin:;
  padding: 0.8em;
  vertical-align: middle;
}

h2 {
  text-shadow: 2px 2px #edc965;
}

.workspaceTitle {
  padding-bottom: 35px;
}

/*columm sizing formatting*/
.shopLeft, .shopCenter, .shopRight {
  /*width: 100%;*/
  height: 100%;
}

/*timer formatting*/

.timer {
  /*margin-top: 0px;*/
  padding: .5em;
  /*padding-left: .5em;*/
  border: black 2px solid;
  border-radius: 20px;
  display: inline-block;
  margin-left: .25em;
}

.timer h1 {
  margin: .5em;
}

/*timer button formatting*/

.playPause {
  display: inline-block;
  padding: 0.1em;
}

#playPause{
  display: block;
  padding: 0 1em;
  /*margin-top: 2em;*/
}

#reset {
  display: block;
  padding: 1em 0 1em 1.5em;
}

button {
  border: none;
  color: inherit;
  background-color: inherit;
  font-family: 'codeman38_press-start-2p', monospace;
}

.buttons {
  margin: 4.5% 2.5% 2.5% 2.5%;
  padding: 20px;
}

/*score formatting*/

.score {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 20px;
  padding-right: 10px;
}

#scoreVal {
  text-align: center;
}

/*cupcake station formatting*/

.cakeContainer {
  height: 100%;
  overflow: auto;
}

.shop {
  height: calc(100% - 83px - 30%);
  background-color: #aee0ef;
}

.station {
  height: calc(100% - 70%);
  background-color: #ffc270;
  text-align: center;
}

.innerBox {
  height: 50%;
}

.box {
  padding: 1em;
  height: 100%
}


.submit, .reset {
  /*float: right;*/
  display: inline-block;
  margin-right: 2px;
  vertical-align: baseline;
}

.colorSelect {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ff6b6d;
}

/* need to put the information about fruit classes up here. */

.grape, .strawberry, .cherry, .banana {
  background-image: url('../images/fruits_8bit2.png');
  background-repeat: no-repeat;
  z-index: 9001;
}


.grape {
  margin-top: -110px;
  margin-left: -7px;
  height: 225px;
  width: 125px;
  background-position: -247px -3px;
}

.strawberry {
  margin-top: -112px;
  margin-left: -5px;
  height: 225px;
  width: 125px;
  background-position: -420px 0px;
}

.cherry {
  margin-top: -112px;
  margin-left: -21px;
  height: 170px;
  width: 170px;
  background-position: -240px -205px;
  transform: scale(1.3);
}

.banana {
  margin-top: -104px;
  margin-left: -7px;
  height: 170px;
  width: 125px;
  background-position: -423px -380px;
  transform: scale(1.25);
}

/* end fruit class info */

#color1, #color2, #color3, #color4, #frost1, #frost2, #frost3, #frost4, #sprink1, #sprink2, #sprink3, #sprink4, #top1, #top2, #top3, #top4 {
  width: 2em;
  height: 2em;
  margin: 10px;
}

#color1 {
  background-color: #ffc9f0;
}

#color2 {
  background-color: #f0ed9e;
}

#color3 {
  background-color: #563403;
}

#color4 {
  background-color: #aee0ef;
}

#frost1 {
  background-color: #fff;
}

#frost2 {
  background-color: #563403;
}

#frost3 {
  background-color: #a3acff;
}

#frost4{
  background-color: #b4f99f;
}

#sprink1 {
  background-color: #ffc270;
}

#sprink2 {
  background-color: #ffc9f0;
}

#sprink3 {
  background-color: #aee0ef;
}

#sprink4 {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #f788d7, #f0ed9e, #b4f99f, cyan, #a0daf7, #a3acff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #f788d7, #f0ed9e, #b4f99f, cyan, #a0daf7, #a3acff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #f788d7, #f0ed9e, #b4f99f, cyan, #a0daf7, #a3acff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #f788d7, #f0ed9e, #b4f99f, cyan, #a0daf7, #a3acff); /* Standard syntax (must be last) */
}

img {
  height: 100%;
}

/*begin general cupcake formatting*/

.cupcake {
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini {
  height: 20%;
  padding: 5% 5% 0 5%;
  transform: scale(1.2);
  width: 50%;
  margin: 0 auto;
}

.body {
  position: absolute;
}

.cake {
  width: 95px;
  height: 95px;
  /*position: absolute;*/
  z-index: 1;
}

.frosting {
  width:95px;
  height: 55px;
  position: relative;
  z-index: 2;
  bottom: 10px;
}

.pixel {
  width: 5px;
  height: 5px;
  float: left;
  /*box-shadow: 0px 0px 1px #fff;*/
}

/* begin randomly generated cupcake formatting */

.randCup {
  height: 10em;
  align-items: center;
  transform: scale(0.75);
  margin-top: 10%;
}

.randCake{
  width: 475px;
  height: 475px;
  vertical-align: middle;
}

.randBody{
  vertical-align: middle;
  bottom: -350px;
}

.randFrost {
  width: 475px;
  height: 275px;
  bottom: -92px;
}

.randCakeBody, .randFrostTop{
  width: 25px;
  height: 25px;
}

/* end randomly generated cupcake formatting */

.cake:nth-child(178), .cake:nth-child(184),
.cake:nth-child(196), .cake:nth-child(197),
.cake:nth-child(198), .cake:nth-child(202), .cake:nth-child(203), .cake:nth-child(204),
.cake:nth-child(214), .cake:nth-child(215), .cake:nth-child(216), .cake:nth-child(217), .cake:nth-child(218), .cake:nth-child(219), .cake:nth-child(220), .cake:nth-child(221), .cake:nth-child(222), .cake:nth-child(223), .cake:nth-child(224), .cake:nth-child(225), .cake:nth-child(233), .cake:nth-child(234), .cake:nth-child(235), .cake:nth-child(236), .cake:nth-child(237), .cake:nth-child(238), .cake:nth-child(239), .cake:nth-child(240), .cake:nth-child(241), .cake:nth-child(242), .cake:nth-child(243), .cake:nth-child(252), .cake:nth-child(253), .cake:nth-child(254), .cake:nth-child(255), .cake:nth-child(256), .cake:nth-child(239), .cake:nth-child(240), .cake:nth-child(241), .cake:nth-child(242), .cake:nth-child(257), .cake:nth-child(258), .cake:nth-child(259), .cake:nth-child(260), .cake:nth-child(261), .cake:nth-child(262),
.cake:nth-child(272), .cake:nth-child(273), .cake:nth-child(274), .cake:nth-child(275), .cake:nth-child(276), .cake:nth-child(277), .cake:nth-child(278), .cake:nth-child(279), .cake:nth-child(280)

 {
  background-color: #999999;
}

/* cupcake filling. */


.cake:nth-child(213), .cake:nth-child(225), .cake:nth-child(232), .cake:nth-child(244), .cake:nth-child(251), .cake:nth-child(263),
/*13th, 14th, and 15th row*/

.cake:nth-child(271),.cake:nth-child(281),
/*16th row*/

.cake:nth-child(291), .cake:nth-child(292), .cake:nth-child(293), .cake:nth-child(294), .cake:nth-child(295), .cake:nth-child(296), .cake:nth-child(297), .cake:nth-child(298), .cake:nth-child(299) /*16th row*/ {
  background-color: #000;
}

/*cupcake outline.*/

.frosting:nth-child(8), .frosting:nth-child(9), .frosting:nth-child(10), .frosting:nth-child(11), .frosting:nth-child(12),
/*1st row*/

.frosting:nth-child(25), .frosting:nth-child(26), .frosting:nth-child(32), .frosting:nth-child(33),
/*2nd row*/

.frosting:nth-child(43), .frosting:nth-child(53),
/*3rd row*/

.frosting:nth-child(61), .frosting:nth-child(73),
/*4th row*/

.frosting:nth-child(79), .frosting:nth-child(93), .frosting:nth-child(98), .frosting:nth-child(112),
/*5th 6th row*/

.frosting:nth-child(116), .frosting:nth-child(132), .frosting:nth-child(135), .frosting:nth-child(140), .frosting:nth-child(146), .frosting:nth-child(151), .frosting:nth-child(154), .frosting:nth-child(159), .frosting:nth-child(165), .frosting:nth-child(170),
/*7th 8th, 9th, 10th row*/

.frosting:nth-child(173), .frosting:nth-child(177), .frosting:nth-child(179), .frosting:nth-child(183), .frosting:nth-child(185), .frosting:nth-child(189),

.frosting:nth-child(193), .frosting:nth-child(194), .frosting:nth-child(195), .frosting:nth-child(199), .frosting:nth-child(200), .frosting:nth-child(201), .frosting:nth-child(205), .frosting:nth-child(206), .frosting:nth-child(207) {
  background-color: #000;
}

/* frosting outline*/

.frosting:nth-child(27), .frosting:nth-child(28), .frosting:nth-child(29), .frosting:nth-child(30), .frosting:nth-child(31),

.frosting:nth-child(44), .frosting:nth-child(45), .frosting:nth-child(46), .frosting:nth-child(47), .frosting:nth-child(48), .frosting:nth-child(49), .frosting:nth-child(50), .frosting:nth-child(51), .frosting:nth-child(52),

.frosting:nth-child(62), .frosting:nth-child(63), .frosting:nth-child(64), .frosting:nth-child(65), .frosting:nth-child(66), .frosting:nth-child(67), .frosting:nth-child(68), .frosting:nth-child(69), .frosting:nth-child(70), .frosting:nth-child(71), .frosting:nth-child(72),

.frosting:nth-child(80), .frosting:nth-child(81), .frosting:nth-child(82), .frosting:nth-child(83), .frosting:nth-child(84), .frosting:nth-child(85), .frosting:nth-child(86), .frosting:nth-child(87), .frosting:nth-child(88), .frosting:nth-child(89), .frosting:nth-child(90), .frosting:nth-child(91), .frosting:nth-child(92),

.frosting:nth-child(99), .frosting:nth-child(100), .frosting:nth-child(101),  .frosting:nth-child(102), .frosting:nth-child(103), .frosting:nth-child(104), .frosting:nth-child(105), .frosting:nth-child(106), .frosting:nth-child(107), .frosting:nth-child(108), .frosting:nth-child(109), .frosting:nth-child(110), .frosting:nth-child(111),

.frosting:nth-child(117), .frosting:nth-child(118), .frosting:nth-child(119), .frosting:nth-child(120), .frosting:nth-child(121), .frosting:nth-child(122), .frosting:nth-child(123), .frosting:nth-child(124), .frosting:nth-child(125), .frosting:nth-child(126), .frosting:nth-child(127), .frosting:nth-child(128), .frosting:nth-child(129), .frosting:nth-child(130), .frosting:nth-child(131),

.frosting:nth-child(136), .frosting:nth-child(137), .frosting:nth-child(138), .frosting:nth-child(139), .frosting:nth-child(141), .frosting:nth-child(142), .frosting:nth-child(143), .frosting:nth-child(144), .frosting:nth-child(145), .frosting:nth-child(147), .frosting:nth-child(148), .frosting:nth-child(149), .frosting:nth-child(150), .frosting:nth-child(155), .frosting:nth-child(156), .frosting:nth-child(157), .frosting:nth-child(158), .frosting:nth-child(160), .frosting:nth-child(161), .frosting:nth-child(162), .frosting:nth-child(163), .frosting:nth-child(164), .frosting:nth-child(166), .frosting:nth-child(167), .frosting:nth-child(168), .frosting:nth-child(169), .frosting:nth-child(174), .frosting:nth-child(175), .frosting:nth-child(176), .frosting:nth-child(180), .frosting:nth-child(181), .frosting:nth-child(182), .frosting:nth-child(186), .frosting:nth-child(187), .frosting:nth-child(188) {
  background-color: #999999;
}

/*frosting filling*/

.frosting:nth-child(50), .frosting:nth-child(65), .frosting:nth-child(87), .frosting:nth-child(102), .frosting:nth-child(109), .frosting:nth-child(123), .frosting:nth-child(137), .frosting:nth-child(162), .frosting:nth-child(169) {
  background-color: #999999;
}

/*sprinkles*/


.top02 {
  position: absolute;
  z-index: 100;
  /*display: none;*/
}

.sprite {
  z-index: 9000;
  width: 100px;
  top: 305px;
  transform: scale(0.3);
}

#grape, #strawberry, #cherry, #banana {
  background-image: url('../images/fruits_8bit2.png');
  background-repeat: no-repeat;
  z-index: 9001;
}


#grape {
  margin-top: -110px;
  height: 225px;
  width: 125px;
  background-position: -247px -3px;
}

#strawberry {
  margin-top: -112px;
  margin-left: 32px;
  height: 225px;
  width: 125px;
  background-position: -420px 0px;
}

#cherry {
  margin-top: -112px;
  margin-left: -1px;
  height: 170px;
  width: 170px;
  background-position: -240px -205px;
}

#banana {
  margin-top: -65px;
  margin-left: -15px;
  height: 170px;
  width: 125px;
  background-position: -423px -380px;
}


.randFruitTop {
  transform: scale(5);
  margin-left: 22px;
  margin-bottom: 80px;
}

/*toppings*/

/*end general cupcake formatting*/
